@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body {
background-color: rgb(134, 0, 112);
color: rgb(178, 178, 238);
font-family: "Playwrite GB S", cursive;
}
h1{
    color: rgb(114, 189, 44);
}

header{
    color: rgb(114, 189, 44);
    text-align: center;
}

a{
    color: rgb(114, 189, 44);
}